@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/pinkforest.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

* {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(158, 0, 53);
}

h1{
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(158, 0, 53);
}

label{
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(87, 34, 34);
    margin-top: 10px;
}

.cadastro{
    width: 527px;
    height: 650px;
    background-color: rgb(255, 217, 223);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.input{
    width: 314px;
    height: 52px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: none;
}

.inputdois{
    width: 201px;
    height: 52px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
}

.inputtres{
    width: 96px;
    height: 52px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: none;
}

.teste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    border: 2px solid #DC2727;
}

.correct{
    border: 2px solid #1C9F11;
}

.errortext{
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 15px;
    color: #DC2727;

}

.form{
    display: flex;
    flex-direction: column;
}

.testedois{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formdois{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

